html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.svgClass {
    width: 100%;
    height: 100%;
}

.view_option {
    display:inline-block;
    padding:3px 8px 3px 8px;
    font-size:18px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #414244;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px 5px 5px;
}

.view_option:hover {
    background-color: #F16438;
}

#status_display {
    display: block;
    background-color: #414244;
    margin: 5px 5px 5px 5px;
    font-size:18px;
    padding:3px 8px 3px 8px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
}

#pauseUpdate {
    display: inline-block;
    padding:3px 8px 3px 8px;
    font-size:18px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #FA8072;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px 5px 5px;
}

#pauseUpdate:hover {
    background-color: #E23D28;
}

.tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    text-align: left;
    font: 14px sans-serif;
    line-height: 1;
    padding: 8px 12px;
    border-radius: 2px;
    pointer-events: none;
}
